


{% extends 'base.html' %}

{% block content %}

<div class="h-100 row align-items-center align-items-end mt-3">
    <div class="d-flex justify-content-center">
        <div class="col-md-12">
            <div class='d-flex justify-content-center'>
            	<div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="{% url 'covid19app:home' %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
