 {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role ='alert'> 
                <a class="close" data-dismiss="alert">×</a>
                   <div class='text-center'>
                        {{ message|safe }}
                   </div>
            </div>
        {% endfor %}
    {% endif %}