{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
 {% include 'covid19app/_messages.html' %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Predict</button>
    <button type="button"  id="resetBtn" class="btn btn-outline-primary" onClick="this.form.reset()" >Clear</button>
  </form>
  <a type="submit" class="btn btn-primary mt-3" href= '{% url "covid19app:medical" %}'>Back</a>


  <div class="container">
  <div class="row">
    <div class="col-sm">
     <div id="container"></div>
    </div>
    <div class="col-sm">
     <div id="container1"></div>
    </div>
    <div class="col-sm">
      <div id="container2"></div>
    </div>
  </div>
</div>




<!-- results table -->

    {% if total %}
    <table class="table mt-3">
      <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">VGG16</th>
      <th scope="col">VGG19</th>
      <th scope="col">inceptionV3</th>
      <th scope="col">Suggested Result</th>
     
    </tr>
  </thead>
  <tbody>
      {% for i in total %}
    <tr>
      <th scope="row">{{i.userid}}</th>

          {% if i.inceptionv3_result > 0.4 %}
            <td>POSITIVE</td>

          {% else %}
            <td>NEGATIVE</td>

          {% endif %}

          {% if i.vgg16_result > 0.4 %}
             <td>POSITIVE</td>

          {% else %}
            <td>NEGATIVE</td>
          {% endif %}

          {% if i.vgg19_result > 0.4 %}

           <td>POSITIVE</td>

          {% else %}
            <td>NEGATIVE</td>

          {% endif %}
          

         
          <td>{{i.prediction}}</td>

        
           

         
      
     
    </tr>
      {% endfor %}

    </tbody>

  </table>

    {% else %}
    <div class='d-flex justify-content-center'> 
      <p>No result ... Upload images to predict</p>
    </div>
    

    {% endif  %}
  










{% include 'covid19app/partials/disclaimer.html' %}



  


  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>



  <script>

    
  </script>
{% endblock %}
