<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, td, th, tr {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% load crispy_forms_tags %}
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Age</label>
          <input type="text" name="age" class="form-control" placeholder="Enter Age">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input type="text" name="country" class="form-control" placeholder="Enter Country">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select name="gender" class="form-control">
              <option>Male</option>
              <option>Female</option>
            </select>
        </div>
        <div class="form-group">
        <label>X-ray image</label>
        <input type="file" name="filetype" class="form-control-file">
        </div>
        <br>
        <button type="submit" name="submitbtn" class="btn btn-primary">Submit</button>
      </form>
      {% endblock %}
</body>
</html>