 <div class ="container">
    <table class="table" id='myTable'>
  <thead class='thead-dark'>
    <tr>
      <th>ID</th>
      <th>day</th>
      <th>month</th>
      <th>year</th>
      <th >Age Group</th>
      <th >Continent</th>
      <th >Gender</th>
      <th >InceptionV3 Result</th>
      <th >VGG16 Result</th>
      <th >VGG19 Result</th>
       
       <th>Best Prediction</th>
       <th style= 'background-color: black;'></th>
       <th style= 'background-color: black;'></th>
    </tr>
  </thead>
  <tbody>
    {% for statistics in data %}
    <tr>
      <td >{{statistics.id}}</td>
      <td>{{statistics.day}}</td>
      <td>{{statistics.month}}</td>
      <td>{{statistics.year}}</td>
      <td>{{statistics.age}}</td>
      <td >{{statistics.continent}}</td>
      <td >{{statistics.gender}}</td>

      {% if statistics.result.inceptionv3_result > 0.4 %}
         <td>POSITIVE</td>
      {% else %}
          <td>NEGATIVE</td>
      {% endif %}

      {% if statistics.result.vgg16_result > 0.4 %}
         <td>POSITIVE</td>
      {% else %}
        <td>NEGATIVE</td>
      {% endif %}



      {% if statistics.result.vgg19_result > 0.4 %}

        <td>POSITIVE</td>
      {% else %}
          <td>NEGATIVE</td>
      {% endif %}

      
      
     <td>{{ statistics.result.prediction }}</td>

      <td>
        
        <a href = '{% url "covid19app:editRecord" statistics.id %}' class='btn btn-outline-primary'
        
        >Edit</a>
       
      </td>
       <td>
        
       
        <a href = "{% url 'covid19app:deleteRecord' statistics.id %}" class='btn btn-danger'
        
        >Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>


</table>





<script>
	$(document).ready( function () {

  // $('#myTable tfoot th').each( function () {
  //       var title = $(this).text();
  //       $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
  //   } );
 

      var table = $('#myTable').DataTable({


      });
});



</script>