<footer class="sticky-footer bg-light text-center text-lg-start navbar-dark bg-light">
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright:
    <a class="text-dark" href="https://desmondchin5383.wixsite.com/healthcheck">HealthCheck</a>
  </div>
  <!-- Copyright -->
</footer>