{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% include 'covid19app/_messages.html' %}

<!-- <form method="POST">
    {% csrf_token %}
    {{ form2|crispy }}
    <button type="submit" class="btn btn-primary">Start Training</button>
  </form> -->




<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto">
      {% include 'covid19app/filter.html' %}
    </div>
    <div class="col col-lg-2">
      
    </div>
  </div>







<div class='container mt-3'>
    <form method="POST">
    {% csrf_token %}
    <div class="form-row">
    
      <div class="form-group col-md-6 mb-0">
        {{ form2.training_ratio|as_crispy_field }}
        <p class="text-danger">{{ training_ratio.help_text  }}</p> 
      </div>

       <div class="form-group col-md-6 mb-0">
        {{ form2.batch_size|as_crispy_field }}
       
        <p class="text-danger">{{ batch_size.help_text  }}</p> 
      </div>

    </div>
    <div class="form-row">
     
       <div class="form-group col-md-6 mb-0">
        {{ form2.models_to_use|as_crispy_field }}
         <p class="text-danger">{{ models_to_use.help_text  }}</p> 
      </div>
       <div class="form-group col-md-6 mb-0">
        {{ form2.learning_rate|as_crispy_field }}
        <p class="text-danger">{{ learning_rate.help_text  }}</p> 
      </div>
    </div>
     <div class="form-row">
     
       <div class="form-group col-md-6 mb-0">
        {{ form2.activation_method|as_crispy_field }}
         <p class="text-danger">{{ activation_method.help_text  }}</p> 
      </div>
      
     
    </div>
   
    
    
   <div class='container d-flex justify-content-center'>
       <button type="submit" class="btn btn-primary">Start</button>

   </div>
  </form>


<div class='container row d-flex justify-content-center'>
  <div class='col sm-6 d-flex justify-content-center'>
    <div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">Previous Results: </h5>
    <p class="card-text">Previous Best Model: VGG16</p>
    <p class="card-text">Previous Best Accuracy: 90%</p>
    <p class="card-text">Previous Running Time: 20 mins</p>
    <!-- <a  class="btn btn-primary">Do something</a> -->
  </div>
</div>
  </div>
   <div class='col sm-6 d-flex justify-content-center'>
    <div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">Current Results: </h5>
    <p class="card-text">Previous Best Model: VGG16</p>
    <p class="card-text">Previous Best Accuracy 96%</p>
    <p class="card-text">Previous Running Time: 25 mins</p>
    <!-- <a  class="btn btn-primary">Do something</a> -->
  </div>
</div>
  </div>
</div>



  <figure class="highcharts-figure">
  <div id="confusion"></div>
  <p class="highcharts-description">
    
  </p>
</figure>


</div>



<script>
  Highcharts.chart('confusion', {

  chart: {
    type: 'heatmap',
    marginTop: 40,
    marginBottom: 80,
    plotBorderWidth: 1
  },


  title: {
    text: 'Covid-19 Confusion Matrix'
  },

  xAxis: {
    categories: ['Postive', 'Negative']
  },

  yAxis: {
    categories: ['Postive', 'Negative'],
    title: null,
    reversed: true
  },

  accessibility: {
    point: {
      descriptionFormatter: function (point) {
        var ix = point.index + 1,
          xName = getPointCategoryName(point, 'x'),
          yName = getPointCategoryName(point, 'y'),
          val = point.value;
        return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
      }
    }
  },

  colorAxis: {
    min: 0,
    minColor: '#FFFFFF',
    maxColor: Highcharts.getOptions().colors[0]
  },

  legend: {
    align: 'right',
    layout: 'vertical',
    margin: 0,
    verticalAlign: 'top',
    y: 25,
    symbolHeight: 280
  },

  tooltip: {
    formatter: function () {
      return '<b>' + getPointCategoryName(this.point, 'x') + '</b> sold <br><b>' +
        this.point.value + '</b> items on <br><b>' + getPointCategoryName(this.point, 'y') + '</b>';
    }
  },

  series: [{
    name: 'Sales per employee',
    borderWidth: 1,
    data: [[0, 0, 10], [0, 1, 19],  [1, 0, 92], [1, 1, 58]],
    dataLabels: {
      enabled: true,
      color: '#000000'
    }
  }],

  responsive: {
    rules: [{
      condition: {
        maxWidth: 500
      },
      chartOptions: {
        yAxis: {
          labels: {
            formatter: function () {
              return this.value.charAt(0);
            }
          }
        }
      }
    }]
  }

});



</script>
{% endblock %}