{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class='container'>
  
    {% include 'covid19app/_messages.html' %}
  
    
</div>


<!-- <div class='container md-6'>
    
     <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
    <button type="submit" class="btn btn-primary d-flex justify-content-center">Login</button>
    

    </form>
</div> -->


<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="container md-6">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src='https://source.unsplash.com/mAGZNECMcUg/w=600' alt="Covid19app"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <h1>Login</h1>
          <form method='POST'>
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4 username">
              {{ form.username|as_crispy_field }}
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4 password">
              {{ form.password|as_crispy_field }}
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
               
              </div>

            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 submit">Sign in</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

{% endblock %}
