
  {% extends 'base.html' %}
  {% load crispy_forms_tags %}
  {% block content %}

{% include 'covid19app/_messages.html' %}


     
      {% if user.is_Medical %}
        <div class='d-flex justify-content-end mb-4'>
            <a href='{% url "covid19app:addRecord" %}' class='btn btn-primary' type="button">Add Record <i class="fa-solid fa-plus"></i></a>
       </div>


      {% endif %}

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                    <h6 class="m-0 font-weight-bold text-primary">Total Covid-19 Cases</h6>
                    <div class="dropdown no-arrow">
                        
                        
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                         <div id= "chart2" class ='mb-4'></div>
                    </div>
                    <div class="mt-4 text-center small">
                      <!--   <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
          </div>
          <div class="col-sm">
            
            <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                    <h6 class="m-0 font-weight-bold text-primary">Total Records by Continent</h6>
                    <div class="dropdown no-arrow">
                        
                        
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                         <div id= "container" class ='mb-4'></div>
                    </div>
                    <div class="mt-4 text-center small">
                        <!-- <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

          </div>
          <!-- third graph -->
          <div class="col-sm">
            
          </div>
        </div>
      </div>

      
       
        


  <div class ="container">
    <table class="table" id='myTable'>
  <thead class='thead-dark'>
    <tr>
      <th>ID</th>
      <th>day</th>
      <th>month</th>
      <th>year</th>
      <th >Age Group</th>
      <th >Continent</th>
      <th >Gender</th>
      <th >InceptionV3 Result</th>
      <th >VGG16 Result</th>
      <th >VGG19 Result</th>
       
       <th>Best Prediction</th>
       <th style= 'background-color: black;'></th>
       <th style= 'background-color: black;'></th>
    </tr>
  </thead>
  <tbody>
    {% for statistics in data %}
    <tr>
      <td >{{statistics.id}}</td>
      <td>{{statistics.day}}</td>
      <td>{{statistics.month}}</td>
      <td>{{statistics.year}}</td>
      <td>{{statistics.age}}</td>
      <td >{{statistics.continent}}</td>
      <td >{{statistics.gender}}</td>

      {% if statistics.result.inceptionv3_result > 0.4 %}
         <td>POSITIVE</td>
      {% else %}
          <td>NEGATIVE</td>
      {% endif %}

      {% if statistics.result.vgg16_result > 0.4 %}
         <td>POSITIVE</td>
      {% else %}
        <td>NEGATIVE</td>
      {% endif %}



      {% if statistics.result.vgg19_result > 0.4 %}

        <td>POSITIVE</td>
      {% else %}
          <td>NEGATIVE</td>
      {% endif %}

      
      
     <td>{{ statistics.result.prediction }}</td>

      <td>
        
        <a href = '{% url "covid19app:editRecord" statistics.id %}' class='btn btn-outline-primary'
        
        >Edit</a>
       
      </td>
       <td>
        
       
        <a href = "{% url 'covid19app:deleteRecord' statistics.id %}" class='btn btn-danger'
        
        >Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>


</table>

  </div>

        

<div class='container mt-3'>
    {% include 'covid19app/training.html' %}
</div>





       
    <script>

function getPointCategoryName(point, dimension) {
  var series = point.series,
    isY = dimension === 'y',
    axis = series[isY ? 'yAxis' : 'xAxis'];
  return axis.categories[point[isY ? 'y' : 'x']];
}




$(document).ready( function () {

  // $('#myTable tfoot th').each( function () {
  //       var title = $(this).text();
  //       $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
  //   } );
 

      var table = $('#myTable').DataTable({


      });



      var myChart = Highcharts.chart("container", {
        chart: {
            type: "pie"
        },
        title: {
            text: "Total Records by Continent"
        },
        series: [{
            data: chartData(table),
            name: null,
        }]
    });

        var myChart2 = Highcharts.chart("chart2", {
        chart: {
            type: "bar"
        },
        title: {
            text: "Total Covid-19 Cases"
        },
        series: [{
            showInLegend: false,
            data: pieData(table),

        }],
         tooltip: {
    formatter: function () {
      return '<b>' + this.series.name + '</b><br/>' +
        this.point.y + ' ' + this.point.name.toLowerCase();
    }
  }
    });

      
 
    // Set the data for the first series to be the map returned from the chartData function
    table.on("draw", function() {
        myChart.series[0].setData(chartData(table));
    });

    table.on("draw", function() {
        myChart2.series[0].setData(pieData(table));
    });



} );


 




 function pieData(table) {
    var counts = {};
 
    // Count the number of entries for each office
    table
        .column(10, { search: 'applied' })
        .data()
        .each(function (val) {
            if (counts[val]) {
                counts[val] += 1;
            } else {
                counts[val] = 1;
            }
        });
 
    // And map it to the format highcharts uses
    return $.map(counts, function (val, key) {
        console.table(key,val);
        return {
            name: key,
            y: val,
        };
    });
}

      function chartData(table) {
    var counts = {};
 
    // Count the number of entries for each office
    table
        .column(5, { search: 'applied' })
        .data()
        .each(function (val) {
            if (counts[val]) {
                counts[val] += 1;
            } else {
                counts[val] = 1;
            }
        });
 
    // And map it to the format highcharts uses
    return $.map(counts, function (val, key) {

        return {
            name: key,
            y: val,
        };
    });
}




 

    </script>


  {% endblock %}
  {% block custom_js %}
    
  {% endblock custom_js %}
