{% extends 'base.html' %}

{% block content %}



{% load crispy_forms_tags %}

{% include 'covid19app/_messages.html' %}


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
   

    <button type="submit" class="btn btn-primary">Submit</button>
    {% if user.is_Medical %}
      <button type="submit" class="btn btn-outline-primary"><a href= '{% url "covid19app:medical" %}'>Back</a>
    {% else  %}
      <button type="submit" class="btn btn-outline-primary"><a href= '{% url "covid19app:it_expert" %}'>Back</a>
      {% endif %}

    </button>
  </form>
   

<img src="{{obj.image.url}}" width="300" height="300" class='d-flex align-items-center'>

  


{% endblock %}