

{% load crispy_forms_tags %}

{% block content %}

<div class = 'container d-flex justify-content-center alert alert-primary' role= 'alert' data-dismiss="alert">

	Upload the information before clicking the Predict button.
	<!-- <i class="fa fa-window-close" aria-hidden="true"></i> -->
</div>

   

  <div class="container">
  <div class="row">
    <div class="col-sm mt-3">
     <form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <span>
      <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">    
    </i>
    </span> 
    {{ form|crispy }}         
    <button type="submit" class="btn btn-primary">Predict</button>
    <button type="button"  id="resetBtn" class="btn btn-outline-primary" onClick="this.form.reset()" >Clear</button>
     
  </form>

    </div>
    <div class="col-sm mt-3">
      {% if obj.image %}
        <div class='d-flex justify-content-center'>
          <img src="{{obj.image.url}}" width="300" height="300" class='d-flex align-items-center'>
        </div>

      {% if pred %}
        <div class='card mt-3 text-center mx-auto'>
            {{pred}}  
        </div>
      {% endif %}
      {% else %}
      <span class="d-flex align-items-center h-100 justify-content-center">No image yet .. Upload to predict one</span>
      {% endif %}
    </div>
  </div>
</div>






    
  {% include 'covid19app/partials/disclaimer.html' %}




    


{% endblock %}