<!-- <form method="POST" enctype='multipart/form-data'>
  {% csrf_token %}
  <div class="form-group row">
   
    
     <span>
        <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top" title="Enter your age">
        
      </i>
    </span>
      {{form.age |as_crispy_field }}
   
  </div>
  <div class="form-group row">
   
    
     <span>
        <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top" title="Enter your Contient">
        
      </i>
    </span>
      {{form.continent |as_crispy_field }}
   
  </div>
  <div class="form-group row">
   
    
     <span>
        <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top" title="Enter your Gender">
        
      </i>
    </span>
      {{form.gender |as_crispy_field }}
   
  </div>
  <div class="form-group row">
   
    
     <span>
        <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top" title="Upload your image">
        
      </i>
    </span>
      {{form.image |as_crispy_field }}
   
  </div>

  <button type="submit" class="btn btn-primary">Predict</button>
    <button type="button"  id="resetBtn" class="btn btn-outline-primary" onClick="this.form.reset()" >Clear</button>
</form>

 -->
