{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- dropzone js -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <!-- dropzone css -->
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    
     <!-- load bootstrap libaries  -->
    {% load bootstrap5 %}

    <!-- load bootstrap css and js -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- highcharts -->
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

    <!-- confusion matrix -->
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- datatables -->
    <link rel ='stylesheet' href = '//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css'>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script src='//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js'></script>

    <!-- htmlx -->
    <script src = 'https://unpkg.com/htmx.org@1.5.0'></script>



    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     
     
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="{% url 'covid19app:home' %}">HealthCheck</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

         
           
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'covid19app:home' %}">Home <span class="sr-only">(current)</span></a>
          </li>


        {% if user.is_authenticated %}
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome,{{user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- {% if user.is_superuser %}
              <a class="dropdown-item"  href="{% url 'admin:index' %}">Admin</a>
            {% endif %} -->
            {% if user.is_Medical %}
              <a class="dropdown-item" href="{% url 'covid19app:medical' %}">Medical Page</a>
            {% elif user.is_Expert %}
                <a class="dropdown-item" href="{% url 'covid19app:it_expert' %}">Expert Page</a>
          
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'covid19app:logout' %}">Logout</a>
          </div>
        </li>

      {% else %}

       <li class="nav-item">
             
              <a class="nav-link" href="{% url 'covid19app:login' %}">login</a>

          </li>

      {% endif %}
      <li class="nav-item">
             
              <a class="nav-link" href="{% url 'covid19app:help_page' %}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>

          </li>
       

            

             

              

            

           

            


            
         

          
          <!--  <li class ="nav-item">
           <form>
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        </li> -->
        <!-- <li class="nav-item">
             <a class="nav-link" href = "{% url 'covid19app:help_page' %}"><i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top" title="Help"></i></a>
          </li> -->

          
        </ul>
      </div>
  </nav>

     <!--  <div class='container d-flex justify-content-center'>
        <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      </div> -->

        
      
      
         <div class='container mt-3'>

           
             {% block content %}

             {% endblock %}  



         </div>

        
   {% include 'covid19app/footer.html' %}
   <script>
      
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
})
    </script>

     <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
    </script>
  </body>
</html>