<div class='container'> 
    <p class='d-flex justify-content-center text-center'>
      <strong >*** Disclaimer ***</strong>
    </p>
    <p class='d-flex justify-content-center text-center'> The purpose of collecting the data is mainly to improve the COVID-19 system prediction accuracy. <br>
      <br>
      Our organization will not leak out or sell any data that have been collected to third parties
    </p>
  </div>
