<form method="POST" hx-post ='.' hx-swap='outerHTML'>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form2.age|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form2.continent|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form2.gender|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form2.image|as_crispy_field }}
      </div>
    </div>
   
    
    <button type="submit" id='add-more' class="btn btn-primary">add-more</button>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
